<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>A highly skilled and seasoned iOS Developer with 7 years of experience in designing, developing, and maintaining robust iOS applications. Proficient in Swift and Objective-C, this developer has a deep understanding of the iOS ecosystem, including its frameworks, best practices, and the full mobile development lifecycle. They are adept at creating seamless user experiences through meticulous attention to detail and innovative solutions.</p>
      </div>
      <div class="col-lg-4">
        <p> Swift <br> Objective-c <br> Swiftui <br> Arkit <br> In App Purchase <br> Vision Api <br> Webrtc <br> ChatApps <br> On demand Services <br> Core Location <br> Core Animation <br> Memory Management <br> Ci/Cd <br> Json <br> Restful API</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
      </div>
    </div>
  </div>
</section>
